body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(199, 73, 73);
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 60px;
}

img {
    border: 8px solid;
    height: auto;
    width: 350px;
}

button {
    background-color: rgb(199, 73, 73);
    padding: 10px;
    border: 2px dashed black;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a:hover {
    background-color: rgb(203, 48, 17);
  }